.header-container {
    padding: 25px;
    background-color: #D8D8D8;
}
.header-txt {
    font-size: 56px;
    text-align: center;
    color: #114F26;
}
/* RWD */
@media (max-width: 480px) {
    .header-txt {
        font-size: 40px;
    }
}
